body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Alterando a cor de fundo para um tom mais claro */
    position: relative; /* Adicionando isso para estabelecer um contexto de posicionamento para o contêiner do select */
}

#apiUrlSet{
    border-style: none; 
    color: blue;
}

.select-container {
    position: absolute;
    top: 10px; /* Define a posição no topo */
    background-color: #fff; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1; /* Garante que esteja acima do contêiner principal */
    border-radius: 7px;
    width: 300px;
}

select{
    width: 240px;
    border-style: none;
    border-bottom: 1px solid #999; /* Mudando a cor da borda do select */
}

.container {
    display: none; /* Oculta todos os contêineres por padrão */
    max-width: 400px;
    width: 100%;
    margin-top: 50px; /* Adiciona margem no topo para evitar sobreposição */
    padding: 20px;
    background-color: #fafafa; /* Alterando a cor de fundo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Mudando a cor da borda */
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0056b3; /* Alterando a cor de fundo */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
